<header id="home">
    <div>
      <p>I BELIEVE IN</p>
      <h1>EAT (); SLEEP (); CODE (); REPEAT ();</h1>
    </div>
  </header>
  <section id="bio">
    <img src="../../assets/profile_picture.JPG" alt="photo" />
    <article>
      <h2>Sai Anurag</h2>
      <p>
        I am a passionate engineer with a degree in Electronics And
        Communication Engineering. My first experience with coding was when I
        started to learm coding during my vacation. I came to know about Web
        Development during my time in the college. I started to gater
        information about web development and then I decided to pursue Web
        development.
        <span class="break"></span>
        Recently, I have taken up a Full Stack Web Development program with
        FACE, to learn skills such as HTML, CSS, JAVASCRIPT, etc
        <span class="break"></span>
        I am looking forward to complete the program succesfully.
      </p>
      <a href="#" class="link-button">Download My Resume</a>
    </article>
  </section>